/Compilador_de_Triangle/Compilador de Triangle/Triangle/build/
/Compilador_de_Triangle/Compilador de Triangle/Triangle/dist/
/Compilador_de_Triangle/Compilador de Triangle/ide-triangle-v1.1.src/build/
/Compilador_de_Triangle/Compilador de Triangle/ide-triangle-v1.1.src/dist/
